* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E6E1C1;
  text-align: justify;
}

/*Main*/
main h2 {
  font-family: "Open Sans", sans-serif;
  color: #7c4532;
  text-align: center;
  font-size: 30px;
  padding-top: 15px;
}
main h3 {
  color: #7c4532;
  background-color: #F2C879;
  margin-top: 10px;
  margin-left: 10px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
main p {
  color: #BC6135;
  margin-right: 20px;
  margin-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  padding: 10px;
}

/*Header*/
header {
  background-image: url(../imagenes/fondo.jpg);
  background-size: cover;
}
header h1 {
  text-align: center;
  padding: 30px;
  color: #E6E1C1;
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
  font-size: 80px;
}

/*Barra de navegacion*/
.navbar {
  background-color: #342425;
  font-family: "Open Sans", sans-serif;
  color: #E6E1C1;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.navbar .logo {
  width: 50px;
}
.navbar .sidebar {
  background-color: #342425;
}
.navbar .sidebar .nav-item a:hover {
  background-color: #BC6135;
  border-radius: 5px;
  padding: 10px;
}

/*Footer*/
footer {
  background-color: #342425;
  font-family: "Open Sans", sans-serif;
  padding: 30px;
  margin-top: 60px;
}
footer h4 {
  color: #E6E1C1;
  font-weight: normal;
  text-align: center;
  font-size: 13px;
  line-height: 3;
}

/*Inicio*/
main .desc {
  text-align: center;
  color: #BC6135;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  padding-bottom: 30px;
}
main .lista {
  margin-left: 10px;
  padding: 20px;
  margin-left: 30px;
  list-style-type: square;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #8A2A23;
}

/*Tutoriales*/
main .videos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
main .videos .text {
  width: 70%;
  font-size: 20px;
  color: #BC6135;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  text-align: center;
}

/*Recursos*/
.recur .contenedor {
  text-align: center;
  transition: all 2s;
}
.recur .contenedor li a {
  color: #8A2A23;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}
.recur .contenedor:hover {
  background-color: rgba(205, 161, 78, 0.3176470588);
  transform: scale(1.1, 1.1);
  border-radius: 2%;
}
.recur .contenedor img {
  width: 350px;
  padding: 10px;
}

/*Galeria*/
.galeria {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "im6 im5 im9" "im6 im1 im2" "im4 im8 im2" "im7 im7 im7";
}
.galeria .gal {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 55px;
  padding: 5px;
}

.im1 {
  grid-area: im1;
}

.im2 {
  grid-area: im2;
}

.im3 {
  grid-area: im3;
}

.im4 {
  grid-area: im4;
}

.im5 {
  grid-area: im5;
}

.im6 {
  grid-area: im6;
}

.im7 {
  grid-area: im7;
}

/*Contacto*/
main .titulos {
  text-align: center;
  color: #7c4532;
  font-family: "Playfair Display", serif;
  font-size: 25px;
  padding-bottom: 5px;
}
main .formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "f1 f2" "f3 f3" "f4 f4" "f5 f5";
  text-align: center;
}
main .formulario .form {
  font-family: "Open Sans", sans-serif;
  color: #E6E1C1;
  border: 1px solid #342425;
  background-color: rgba(77, 54, 56, 0.8823529412);
  padding: 3px;
  margin-top: 5px;
}

.f1 {
  grid-area: f1;
}

.f2 {
  grid-area: f2;
}

.f3 {
  grid-area: f3;
}

.f4 {
  grid-area: f4;
}

.f5 {
  grid-area: f5;
}

/* MEDIA QUERIES GALERIA */
@media only screen and (max-width: 768px) {
  .galeria {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "im6 im5" "im9 im1" "im2 im4" "im8 im7";
  }
}
@media only screen and (max-width: 600px) {
  .galeria {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: "im6" "im5" "im9" "im1" "im2" "im4" "im8" "im7";
  }
}
/* MEDIA QUERIES CONTACTO*/
@media only screen and (max-width: 768px) {
  .formulario {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "nombre1" "email1" "numero1" "texto1" "enviar1";
  }
  .formulario .form {
    width: 100%;
  }
}

/*# sourceMappingURL=estilos.css.map */
