/*Galeria*/
.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "im6 im5 im9"
    "im6 im1 im2"
    "im4 im8 im2"
    "im7 im7 im7";
    .gal{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius:  55px;
        padding: 5px;
    }
}

@for $i from 1 through 7{
    .im#{$i}{
        grid-area: im#{$i};
    }
}