/*Tutoriales*/
main{
    .videos{
        display: flex;
        flex-wrap: wrap;
        align-items: $alcenter;
        justify-content:$alcenter;
        padding-bottom: 20px;
        
        .text{
            width: 70%;
            font-size: 20px;
            color: $colnaranja;
            font-family: $fuente;
            line-height: 1.5;
            text-align: $alcenter;
        }
    }

}