$colcrema:#E6E1C1;
$colamarillo:#F2C879;
$colmarron:#342425;
$colmclaro:#7c4532;
$colrojo:#8A2A23;
$colnaranja:#BC6135;

$fuente: 'Open Sans', sans-serif;
$fuentesec: 'Playfair Display', serif;
$alcenter: center;
